body {
	background-color: black;
	color: white;
	font-family: Calibri;
	border: 2px solid white;
}
.images {
	float: right;
	clear: left;
	clear: bottom;
	border: 2px solid white;
	margin: 10px;
}
h1 {
	margin: 10px;
	font-size: 50px;
}
.wrapper {
	margin-left: auto;
	margin-right: auto;
}